<div class="row">
  <div class="col-12 col-md-7 mx-auto">
    <div class="card border-dark mt-5">
      <h3 class="card-header border-dark text-center">目標新規作成</h3>
      <%= render "public/targets/form", target: @target %>
    </div>
  </div>
</div>