<div class="container">
  <div style="text-align:center;">
    <h5 class="text-center mt-4"><strong>目標登録画面</strong></h5>
    <hr class="col-md-4 mt-2">
  </div>
  <%= render "public/targets/form", target: @target %>
</div>