<div class="row">
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <%= render "admin/targets/index", targets: @targets %>
      </div>
    </div>
  </div>
</div>