<div class="row">
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-12">
        <p class="text-center mt-5" style="font-size: 70px;"><span class="site-name">Taskist.</span></p>

        <div class="row">
          <div class="col-md-6 mt-3 mx-auto">
            <div class="text-center mb-3">
              <br>
              <p>進捗を見える化し目標に向かってタスクを組んでいきましょう！！</p>
              <p>達成感を感じつつ課題に取り組むことができ、進捗状況を見える化することで<br>
              自身のモチベーションにつなげることができる タスク管理ツールです。</p>
              <br>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6 mx-auto">
            <h4 class="text-center"><strong>Taskist.を使うメリット</strong></h4>
            <hr>
            <div class="text-left my-4 mb-5">
              <p>● タスクを見える化することで、お互いの取り組み状況がわかり参考になり<br>モチベーションが高まります。</p>
              <p>● 難しく考えずに 目標に向かって楽しく予定を立てることができます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>