@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*ページネーション自体のデザイン*/
.page-item.active .page-link {
  background-color: #ccc;   /*背景の色を変える*/
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 20px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 20px;    /*角を丸くする*/
}

.pagination {
  justify-content: center;  /*中心に寄せる*/
}

/*通知countバッチ*/
#icon-badge{
  position: relative;
}
#icon-badge[data-num="0"]::before {
  display: none;
}
#icon-badge::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: attr(data-num);
    min-width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 4px;
    font-size: 10px;
    font-weight: bold;
    background-color: #D2B48C;
    border: 1px solid #fff;
    border-radius: 10px;
    top: 0;
    right: 0;
    transform: translate(5%, -5%); //位置
    z-index: 1;
}