<footer style="background-color: #5F9EA0">
  <div class="container">
    <div class="row pt-3">
      <div class="mx-auto">
        <p class="text-center my-2", style="color: white;">© omu-m 2022 Taskist.</p>
      </div>
    </div>
  </div>
</footer>